<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found | EmoMusic</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/adminmain.css" rel="stylesheet">    
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<div id="alert_msg"></div>
	<div class="body_container_all">
		<header id="header"><!--header-->
			<div class="header_top"><!--header_top-->
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="contactinfo">
								<ul class="nav nav-pills">
									<li><a href=""><i class="fa fa-phone"></i> +91 1111111111</a></li>
									<li><a href=""><i class="fa fa-envelope"></i> emomusic@domain.com</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="social-icons pull-right">
								<ul class="nav navbar-nav">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-linkedin"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<center style="color:red; font-size: 500px; font-weight: 200px;">404</center>
		
		
		<footer id="footer"><!--Footer-->
			
			<div class="footer-bottom" style="bottom: 0px;">
				<div class="container">
					<div class="row">
						<p class="pull-left">Copyright © 2022 EmoMusic. All rights reserved.</p>
						<p class="pull-right">Designed by <span><a target="_blank" href="#">DevTeam</a></span></p>
					</div>
				</div>
			</div>
			
		</footer><!--/Footer-->
		
	</biv>
  
    <script src="/js/jquery.js"></script>
    <!-- <script src="js/main.js"></script> -->
</body>
</html>